body{
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background-color: #E4E4E4;
    font-family: 'Poppins',sans-serif;
}
section{
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding: 60px;
}

.landingSection {
    background: radial-gradient(51.46% 51.46% at 50% 41.65%, #BA7CD0 0%, #E4E4E4 100%);
}

.yourProductContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 75px;
    width: fit-content;
    margin: 0 auto;
}

.yourProduct {
    width: 100%;
    margin-top: 100px;
}
.productCardImage > img {
    width: 27px;
    height: 28px;
    padding-right: 25px;
}

.productPreview {
    height: 290px;
    box-shadow: 10px 10px 60px #9375a0 !important;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(197, 197, 197, 0.2); /* Couleur de fond avec une opacité */
    padding: 10px;
    margin-top: 100px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Effet de flou */
}
.left {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.total {
    font-size: 24px;
    font-weight: bold;
}

.amount {
    font-size: 18px;
}

.right {
    text-align: right;
}

.buy-button {
    background-color: rgba(197, 197, 197, 1);
    color: black;
    margin-right: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;    
    font-weight: 10;
    font-size: 20px;
    transition: box-shadow .15s,transform .15s;
}

.buy-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transform: translateY(-2px);
}

/* responsive for the products preview to go from 3 to 2 columns */
@media (max-width: 1200px) {
    .yourProductContainer {
        grid-template-columns: 1fr 1fr;
    }
}
/* responsive for the products preview to go from 2 to 1 columns */
@media screen and (max-width: 768px) {
    .yourProductContainer {
        grid-template-columns: 1fr;
    }
}