footer{
    background-color: #030317;
    height: 200px;
    color: #FFF;
    font-style: normal;
    line-height: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin: 0;
    width: 100%;
    padding: 0;
}

.brand > h1{
    font-family: 'Arapey';
    font-weight: 400;
    font-size: 50px;
    padding-top: 35px;
    text-align: left;
    padding-left: 40px;
}

.brand > h1 > a {
    text-decoration: none;
    color: white;
}

.contact{
    padding-top: 35px;
    text-align: center;
    align-items: center;
    margin-left: 30%;
}

li{
    text-decoration: none;
    list-style: none;
    font-family: 'Inter';
    font-size: 13px;
    line-height: 20px;
}

.paperwork{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 170px;
}

.paperwork > a{
    text-decoration: none;
    color: #c6c7d1;
    margin: 10px;
}



/* responsive for the footer to move vertically everything */
@media screen and (max-width: 1000px){
    footer{
        display: grid;
        grid-template-columns: 1fr;
        height: 350px;
    }

    .brand > h1{
        font-family: Antic Didone;
        font-size: 50px;
        padding-top: 35px;
        text-align: center;
        padding-left: 0px;
    }

    .contact{
        padding-top: 35px;
        text-align: center;
        align-items: center;
        padding-left: 0%;
        margin-left: 0%;
    }

    .contact > ul{
        padding-left: 0px;
    }

    .contact > h2{
        padding-left: 0px;
        font-family: 'Arapey';
        font-weight: 400;
    }

    .paperwork{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 170px;
    }
}

/* responsive for the paperwork to move vertically */
@media screen and (max-width: 485){
    .paperwork{
        display: grid;
        grid-template-columns: 1fr;
    }
}