
header {
    color: black;
    display: flex;
    transition: background-color 0.3s ease;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.scroll {
    backdrop-filter: blur(5px);
    background-color: rgba(228, 228, 228, 0.2);
}
.left-section {
    flex: 1;
    text-align: left;
    font-family: 'Arapey';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.left-section > a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.right-section {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    font-family: 'Popey', sans-serif;
    font-size: 15px;
    font-style: normal;
}
.cart {
    cursor: pointer;
    margin-right: 10px;
}
.cart > a {
    color: black;
    text-decoration: none;
}

.lang {
    cursor: pointer;
    margin-right: 40px;
    text-transform: uppercase;
}

.products {
    cursor: pointer;
    margin-right: 40px;
}
.products > a {
    color: black;
    text-decoration: none;
}


.toast-custom {
    color: black !important;
    padding: 0 1em 0 1em !important;
    background: linear-gradient(90deg, rgba(227,139,232,0.8) 0%, rgba(228,228,228,1) 100%) !important;       
}