body{
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background-color: #E4E4E4;
    font-family: 'Poppins',sans-serif;
}
section{
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding: 60px;
}



/*LANDING SECTION*/

.landingSection {
    background: radial-gradient(51.46% 51.46% at 50% 41.65%, #BA7CD0 0%, #E4E4E4 100%);
}

.landingSection > h1 {
    color: #000;
    text-align: center;
    font-size: 74px;
    font-weight: 400;
    line-height: normal;
    padding-top: 135px;
}

.landingSection > h2 {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;

}


/*OUR BESTSELLERS SECTION*/

.bestSellerTitle {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}
.productsPreviewContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 75px;
    width: fit-content;
    margin: 0 auto;
}

/*RESPONSIVE*/

/* responsive for the products preview to go from 3 to 2 columns */
@media (max-width: 1200px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr 1fr;
    }
}
/* responsive for the products preview to go from 2 to 1 columns */
@media screen and (max-width: 768px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr;
    }
}