body{
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background-color: #E4E4E4;
    font-family: 'Poppins',sans-serif;
}
section{
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding: 60px;
}

header {
    color: black;
    display: flex;
    transition: background-color 0.3s ease;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.scroll {
    backdrop-filter: blur(5px);
    background-color: rgba(228, 228, 228, 0.2);
}
.left-section {
    flex: 1;
    text-align: left;
}
.right-section {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}
.cart {
    font-weight: bold;
    margin-right: 10px;
}
.hamburger {
    font-size: 24px;
    cursor: pointer;
}

.landingSection {
    background: radial-gradient(51.46% 51.46% at 50% 41.65%, #E38BE8 0%, #E4E4E4 100%);
}

.landingSection > h1 {
    color: #000;
    text-align: center;
    font-size: 74px;
    font-weight: 400;
    line-height: normal;
    padding-top: 135px;
}

.landingSection > h2 {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;

}

.bestSellerTitle {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}
.productsPreviewContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 75px;
    width: fit-content;
    margin: 0 auto;
}

.productPreview {
    background: #D9D9D9;
    width: 252px;
    height: 270px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.productPreview:hover {
    transform: scale(1.04);
}

.productInfo {
    flex: 1; 
    padding-left: 25px;
}

.productCardImage {
    flex: 0; 
}
.productCardImage > img {
    width: 26px;
    height: 26px;
    padding-right: 25px;
}

.productCard {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.productInfo > a {
    margin-right: 10px;
}

.productImage {
    text-align: center;
    padding-top: 49px;
}

.productImage > img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

/* responsive for the products preview to go from 3 to 2 columns */
@media (max-width: 1200px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr 1fr;
    }
}
/* responsive for the products preview to go from 2 to 1 columns */
@media screen and (max-width: 768px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr;
    }
}