
.productPreview {
    background: #D9D9D9;
    width: 252px;
    height: 270px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 20px 20px 60px #9375a0;
}

.productPreview:hover {
    transform: scale(1.04);
}

.productInfo {
    flex: 1; 
    padding-left: 25px;
}

.productCardImage {
    flex: 0; 
}
.productCardImage > img {
    width: 26px;
    height: 31.62px;
    padding-right: 25px;
}

.productCard {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.productInfo > p {
    margin: 0;
    font-size: 13px;
}

.productImage {
    text-align: center;
    padding-top: 10%;
}

.productImage > img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}



.AmountBandContainer {
    display: flex;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: center;
}

.AmountBand {
    display: flex;
    background: #888888;
    color: black;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    font-weight: 700;
    cursor: pointer;
}

/* responsive for the products preview to go from 3 to 2 columns */
@media (max-width: 1200px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr 1fr;
    }
}
/* responsive for the products preview to go from 2 to 1 columns */
@media screen and (max-width: 768px) {
    .productsPreviewContainer {
        grid-template-columns: 1fr;
    }
}
