body{
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background-color: #E4E4E4;
    font-family: 'Poppins',sans-serif;
}
section{
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding: 60px;
}

.landingSection {
    background: radial-gradient(51.46% 51.46% at 50% 41.65%, #BA7CD0 0%, #E4E4E4 100%);
}

.productPreview {
    margin: auto;
    width: 50%;
    margin-top: 40px;
}

.productDescription {
    margin-top: 50px;
}
.productComposition {
    margin-top: 50px;
}

.reviewsContainer > div{
    width: 377px;
    height: 82px;
    flex-shrink: 0;
    background: #D9D9D9;
    float: left;
    margin-right: 50px;
    margin-bottom: 100px;
}

.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productArrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.productArrow[right]:hover {
    transform: translateX(4px);
}


.productArrow:hover {
    transform: translateX(-4px);
}

.productArrowLeft {
    margin-right: 10px;
}

.productArrowRight {
    margin-left: 10px;
}